Repository UBA-GCOEN/StichHub, pull requests merged in 2023-05, with the labels that each got.

#163 Dependabot added
  .github/dependabot.yaml
Labels: good first issue, GSSoC23, level1

#181 updated readme
  README.md
Labels: GSSoC23, level1, 🎉STATUS : approved

#196 Issue 139:improving card items
  client/StichHub/src/components/Home/TailorList.jsx
Labels: 🔄STATUS : changes requested

#226 Error Page Added
  client/StichHub/src/App.jsx
  client/StichHub/src/components/ErrorPage/404ErrorPage.jsx
Labels: question
