Repository UBA-GCOEN/StichHub, pull requests merged in 2023-06, with the labels that each got.

#239 added footer UI
  client/StichHub/src/components/MainLandingPage/FooterHomePage.jsx
  client/StichHub/src/components/MainLandingPage/index.js
  client/StichHub/src/pages/MainLandingPage.jsx
Labels: 🔄STATUS : changes requested

#233 Tailor detail
  client/StichHub/src/axios.js
  client/StichHub/src/components/Home/TailorList.jsx
  client/StichHub/src/components/Navbardark.jsx
  client/StichHub/src/components/TailorDashboard/Profile.jsx
  client/StichHub/src/components/TailorDashboard/Tabs.jsx
  client/StichHub/src/components/TailorDashboard/main/LeftView.jsx
  client/StichHub/src/components/TailorDashboard/mobile/Main/TopProfile.jsx
  server/controllers/tailorDetails.js
  server/routes/tailorsDetails.js
Labels: GSSoC23, level2, 🚀STATUS : ready to merge, 🎉STATUS : approved

#216 Improve Lighthouse Accessibility and SEO
  client/StichHub/src/components/MainLandingPage/About.jsx
  client/StichHub/src/contexts/LandingPageDemo.jsx
Labels: GSSoC23, level2, ✅STATUS : ready to review

#245 Fixed all UI/UX bugs in #35
  client/StichHub/src/components/Configurator/ControlsMenu/ControlsMenu.jsx
  client/StichHub/src/components/Configurator/Navbar.jsx
  client/StichHub/src/components/Home/Navbar.jsx
  client/StichHub/src/pages/ThreeDConfigurator.jsx
  client/StichHub/src/pages/ThreeDMeasurement.jsx
Labels: GSSoC23, level2, ✅STATUS : ready to review

#246 #244-cloths-category
  client/StichHub/src/components/MainLandingPage/Footer.jsx
Labels: GSSoC23, level1, 👀STATUS : under review

#254 Fixed : issue #230
  client/StichHub/src/components/MainLandingPage/Footer.jsx
Labels: 🔄STATUS : changes requested

#248 #174 Fixed Navbar Navigation bug with sections in landing page
  client/StichHub/package-lock.json
  client/StichHub/package.json
  client/StichHub/src/components/MainLandingPage/Home.jsx
  client/StichHub/src/components/MainLandingPage/HowItWorks/Customers.jsx
  client/StichHub/src/components/MainLandingPage/NavBar.jsx
  client/StichHub/src/index.css
  client/StichHub/src/pages/MainLandingPage.jsx
Labels: question, 🔄STATUS : changes requested

#294 Reat-time-Validation
  client/StichHub/src/common/validation.jsx
  client/StichHub/src/components/AuthError.jsx
  client/StichHub/src/components/Loginsignup/AuthTailor.jsx
  client/StichHub/src/components/Loginsignup/CustomerAuth.jsx
  server/controllers/userCustomer.js
  server/controllers/userTailor.js
Labels: ✅STATUS : ready to review

#296 Filter modal style changed
  client/StichHub/src/components/Home/FilterSection.jsx
Labels: 🚀STATUS : ready to merge

#293 Lazy loading added
  client/StichHub/index.html
  client/StichHub/src/App.jsx
  client/StichHub/src/pages/index.js
Labels: 🚀STATUS : ready to merge

#310 Implement contact form validation
  client/StichHub/src/common/validation.jsx
  client/StichHub/src/components/AuthError.jsx
  client/StichHub/src/components/MainLandingPage/ContactUs.jsx
Labels: gsoc23, level1, 🎉STATUS : approved

#272 feat: forgot password added
  client/StichHub/src/App.jsx
  client/StichHub/src/components/Loginsignup/AuthTailor.jsx
  client/StichHub/src/components/Loginsignup/CustomerAuth.jsx
  client/StichHub/src/components/Loginsignup/ForgotPassword.jsx
  server/controllers/forgotpassword.js
  server/index.js
Labels: 👀STATUS : under review

#320 feat: add codeql workflow
  .github/workflows/codeql.yml
Labels: gssoc23, level1, 🎉STATUS : approved

#322 Ui improvement
  client/StichHub/src/components/MainLandingPage/NavBar.jsx
Labels: gssoc23, UI/UX, level1, 🎉STATUS : approved

#323 Improved Footer Design
  client/StichHub/src/components/MainLandingPage/FooterHomePage.jsx
Labels: gssoc23, UI/UX, level1, 🎉STATUS : approved

#340 Filter dropdown
  client/StichHub/src/components/Home/FilterSection.jsx
  client/StichHub/src/components/Home/TailorList.jsx
  client/StichHub/src/pages/Home.jsx
Labels: enhancement, question, gssoc23, level2, 🎉STATUS : approved

#359 Added linting.yml workflow
  .github/workflows/linting.yml
Labels: gssoc23, level1, 🎉STATUS : approved

#347 Card UI Improvement
  client/StichHub/src/components/TailorDetails/ProgressM.jsx
  client/StichHub/src/components/TailorDetails/Progressbar.jsx
  client/StichHub/src/components/TailorDetails/StarRate.jsx
  client/StichHub/src/components/TailorDetails/Tailorhead.jsx
  client/StichHub/src/pages/TailorDetails.jsx
Labels: gssoc23, UI/UX, level1, 🚧STATUS : in progress

#349 #329-tailor page
  client/StichHub/src/pages/TailorProfileVerification.jsx
Labels: gssoc23, UI/UX, 🚀STATUS : ready to merge, 👀STATUS : under review

#354 Tailor verification
  client/StichHub/src/common/validation.jsx
  client/StichHub/src/pages/TailorProfileVerification.jsx
Labels: enhancement, gssoc23, level2, 🎉STATUS : approved

#366 Navbar Issue fixed
  client/StichHub/src/components/Navbardark.jsx
Labels: gssoc23, level1, 👀STATUS : under review

#388 Email Context Updated
  server/services/mail.js
Labels: test

#395 Solve Sigin tailor button bug
  client/StichHub/src/components/Loginsignup/AuthTailor.jsx
Labels: bug, gssoc23, level1, 🎉STATUS : approved

#393 [UPDATE] Contact US section updated
  client/StichHub/src/components/MainLandingPage/ContactUs.jsx
Labels: gssoc23, UI/UX, level1, 👀STATUS : under review

#400 Readme File Updated
  README.md
Labels: documentation

#383 fix(filter): added radio buttons
  client/StichHub/src/components/Home/FilterSection.jsx
Labels: gssoc23, level1, 🎉STATUS : approved

#377 Tailordetails page UI enhancement done
  client/StichHub/src/assets/home/7309681.jpg
  client/StichHub/src/assets/home/bady-abbas-YZm-WKqxTIU-unsplash.jpg
  client/StichHub/src/assets/india.png
  client/StichHub/src/assets/man.jpg
  client/StichHub/src/components/Header.jsx
  client/StichHub/src/components/Home/TailorList.jsx
  client/StichHub/src/components/TailorDetails/StarRate.jsx
  client/StichHub/src/components/TailorDetails/man.jpg
  client/StichHub/src/pages/TailorDetails.jsx
  client/StichHub/tailwind.config.cjs
Labels: gssoc23, UI/UX, level1, 🎉STATUS : approved
