Repository UBA-GCOEN/StichHub, pull requests merged in 2023-07, with the labels that each got.

#365 Fixed the text inside the card
  client/StichHub/src/components/Loginsignup/AuthTailor.jsx
  client/StichHub/src/components/Loginsignup/CustomerAuth.jsx
Labels: gssoc23, level1, 🎉STATUS : approved

#389 Proper alt attributes added
  client/StichHub/src/App.jsx
  client/StichHub/src/components/Cart/Step1.jsx
  client/StichHub/src/components/Cart/Step2.jsx
  client/StichHub/src/components/Cart/Step3.jsx
  client/StichHub/src/components/Cart/Step4.jsx
  client/StichHub/src/components/CustomerLandingPage/Cardi.jsx
  client/StichHub/src/components/CustomerLandingPage/CardiM.jsx
  client/StichHub/src/components/CustomerLandingPage/Configurator.jsx
  client/StichHub/src/components/CustomerLandingPage/GetList.jsx
  client/StichHub/src/components/CustomerLandingPage/GetListM.jsx
  client/StichHub/src/components/CustomerLandingPage/Nav.jsx
  client/StichHub/src/components/CustomerLandingPage/PageContent.jsx
  client/StichHub/src/components/CustomerLandingPage/PageContentM.jsx
  client/StichHub/src/components/CustomerLandingPage/Worried.jsx
  client/StichHub/src/components/CustomerLandingPage/WorriedM.jsx
  client/StichHub/src/components/FabricModel/CardM.jsx
  client/StichHub/src/components/FabricModel/FabricCard.jsx
  client/StichHub/src/components/Home/Navbar.jsx
  client/StichHub/src/components/Home/TailorList.jsx
  client/StichHub/src/components/Loginsignup/AuthTailor.jsx
  client/StichHub/src/components/Loginsignup/CustomerAuth.jsx
  client/StichHub/src/components/Loginsignup/ForgotPassword.jsx
  client/StichHub/src/components/Loginsignup/Signup.jsx
  client/StichHub/src/components/MainLandingPage/About.jsx
  client/StichHub/src/components/MainLandingPage/ContactUs.jsx
  client/StichHub/src/components/MainLandingPage/FAQs/faq.jsx
  client/StichHub/src/components/MainLandingPage/Footer.jsx
  client/StichHub/src/components/MainLandingPage/FooterHomePage.jsx
  client/StichHub/src/components/MainLandingPage/Home.jsx
  client/StichHub/src/components/MainLandingPage/HowItWorks/Customers.jsx
  client/StichHub/src/components/MainLandingPage/HowItWorks/Tailors.jsx
  client/StichHub/src/components/MainLandingPage/NavBar.jsx
  client/StichHub/src/components/MainLandingPage/OurServices.jsx
  client/StichHub/src/components/Navbar.jsx
  client/StichHub/src/components/NavbarDarkOg.js
  client/StichHub/src/components/Navbardark.jsx
  client/StichHub/src/components/TailorDashboard/Tabs.jsx
  client/StichHub/src/components/TailorDashboard/main/MainDisplay.jsx
  client/StichHub/src/components/TailorDashboard/main/NavBar.jsx
  client/StichHub/src/components/TailorDashboard/mobile/Main/MainMobileDisplay.jsx
  client/StichHub/src/components/TailorDashboard/mobile/Main/NewOrders.jsx
  client/StichHub/src/components/TailorDashboard/mobile/Main/TopProfile.jsx
  client/StichHub/src/components/TailorDashboard/mobile/Ongoing/MobileOngoingOrders.jsx
  client/StichHub/src/components/TailorDashboard/ongoing/OngoingOrders.jsx
  client/StichHub/src/components/TailorDashboard/ongoing/OngoingOrdersOpen.jsx
  client/StichHub/src/components/TailorDetails/TailorSum.jsx
  client/StichHub/src/components/TailorProfileVerification/Step1.jsx
  client/StichHub/src/components/TailorProfileVerification/Step4.jsx
  client/StichHub/src/pages/Cart.jsx
  client/StichHub/src/pages/ClothesCategory.jsx
  client/StichHub/src/pages/CustomerLandingPage.jsx
  client/StichHub/src/pages/FabricModel.jsx
  client/StichHub/src/pages/TailorDetails.jsx
  client/StichHub/src/pages/TailorProfileVerification.jsx
  client/StichHub/src/pages/ThreeDMeasurement.jsx
Labels: gssoc23, level2, 🎉STATUS : approved

#406 Linking of Pages Upadated
  client/StichHub/src/components/CustomerLandingPage/Configurator.jsx
  client/StichHub/src/components/CustomerLandingPage/GetList.jsx
  client/StichHub/src/components/CustomerLandingPage/PageContent.jsx
  client/StichHub/src/components/CustomerLandingPage/PageContentM.jsx
Labels: gssoc23, level1, 🎉STATUS : approved

#407 Add captcha in signin forms
  client/StichHub/src/components/Loginsignup/AuthTailor.jsx
  client/StichHub/src/components/Loginsignup/CustomerAuth.jsx
Labels: gssoc23, level2, 🎉STATUS : approved

#414 Added Testimonial Section
  client/StichHub/package-lock.json
  client/StichHub/package.json
  client/StichHub/src/components/MainLandingPage/HowItWorks/Tailors.jsx
  client/StichHub/src/components/Testimonial/Testimonial.jsx
  client/StichHub/src/components/Testimonial/TestimonialCard.jsx
  client/StichHub/src/components/Testimonial/Testimonials.jsx
  client/StichHub/src/constants/MainLandingPage.js
  client/StichHub/src/pages/MainLandingPage.jsx
Labels: enhancement, gssoc23, level2, 🎉STATUS : approved

#416 UI Fixes
  client/StichHub/src/components/CustomerLandingPage/CardiM.jsx
  client/StichHub/src/components/CustomerLandingPage/FeaturesM.jsx
  client/StichHub/src/components/CustomerLandingPage/WorriedM.jsx
  client/StichHub/src/components/Home/CustomerOrder.jsx
  client/StichHub/src/components/Home/FilterSection.jsx
  client/StichHub/src/pages/Home.jsx
Labels: gssoc23, UI/UX, level1, 🎉STATUS : approved

#418 Solve show-password style bug
  client/StichHub/src/components/Loginsignup/AuthTailor.jsx
  client/StichHub/src/components/Loginsignup/CustomerAuth.jsx
Labels: gssoc23, UI/UX, level1, 👀STATUS : under review

#420 Update sitemap.xml
  client/StichHub/package-lock.json
  client/StichHub/public/sitemap.xml
  client/StichHub/sitemap.xml
Labels: gssoc23, level2, 🎉STATUS : approved

#392 Phone Otp Verification
  client/StichHub/src/pages/TailorProfileVerification.jsx
  server/controllers/tailorDetails.js
  server/package-lock.json
  server/package.json
  server/routes/tailorsDetails.js
Labels: gssoc23, Priority : high, 👀STATUS : under review

#444 Phone Verification Bug Resolved
  client/StichHub/src/axios.js
  client/StichHub/src/pages/TailorProfileVerification.jsx
  server/controllers/tailorDetails.js
  server/services/mail.js
Labels: bug, test

#445 new env text added
  .env.server
Labels: documentation

#423 Update social media hyperlink
  client/StichHub/src/components/MainLandingPage/FooterHomePage.jsx
Labels: gssoc23, level1, 🔄STATUS : changes requested

#426 Fix alignment issue
  client/StichHub/src/components/MainLandingPage/HowItWorks/Customers.jsx
  client/StichHub/src/components/MainLandingPage/HowItWorks/Tailors.jsx
  client/StichHub/src/components/MainLandingPage/OurServices.jsx
Labels: gssoc23, level1, 🚀STATUS : ready to merge

#424 Add icon to describe form
  client/StichHub/src/assets/MainLandingPage/Icons/describe.png
  client/StichHub/src/assets/MainLandingPage/Icons/index.js
  client/StichHub/src/components/MainLandingPage/ContactUs.jsx
Labels: gssoc23, level1, 🎉STATUS : approved

#438 Make navbar transition smooth
  client/StichHub/src/components/MainLandingPage/NavBar.jsx
Labels: gssoc23, UI/UX, level1, 🚀STATUS : ready to merge

#425 Make text align left in FAQ section
  client/StichHub/src/components/MainLandingPage/FAQs/faq.jsx
Labels: gssoc23, level1, 🎉STATUS : approved

#446 community details added
  README.md
Labels: documentation

#469 Update README.md
  README.md
Labels: small

#449 Changed the hover color of Gmail and Youtube
  client/StichHub/package-lock.json
  client/StichHub/src/components/MainLandingPage/FooterHomePage.jsx
Labels: gssoc23, level1, 🎉STATUS : approved

#450 Added footer on homepage
  client/StichHub/src/pages/Home.jsx
Labels: gssoc23, level1, 🎉STATUS : approved

#484 Update approve_label.yml
  .github/workflows/approve_label.yml
Labels: 🎉STATUS : approved, small

#488 Update approve_label.yml
  .github/workflows/approve_label.yml
Labels: small

#490 Update approve_label.yml
  .github/workflows/approve_label.yml
Labels: 🎉STATUS : approved, small

#492 Update approve_label.yml
  .github/workflows/approve_label.yml
Labels: medium, 🎉STATUS: approved

#494 add master access token
  .github/workflows/approve_label.yml
Labels: small

#496 update
  .github/workflows/approve_label.yml
Labels: large

#499 update
  .github/workflows/approve_label.yml
Labels: small

#500 Update approve_label.yml
  .github/workflows/approve_label.yml
Labels: small

#480 Same email bug fix
  server/controllers/userCustomer.js
  server/controllers/userTailor.js
Labels: gssoc23, level2, 👀STATUS : under review, medium

#505 Update userTailor.js
  server/controllers/userTailor.js
Labels: small

#412 Delete account
  client/StichHub/package.json
  client/StichHub/src/axios.js
  client/StichHub/src/components/DeleteAccount.jsx
  client/StichHub/src/components/Home/Navbar.jsx
  client/StichHub/src/components/TailorDashboard/main/NavBar.jsx
  server/controllers/userCustomer.js
  server/controllers/userTailor.js
  server/package-lock.json
  server/package.json
  server/routes/userCustomer.js
  server/routes/userTailor.js
Labels: enhancement, gssoc23, level2, 👀STATUS : under review, large

#231 Tailor registration process
  client/StichHub/package-lock.json
  client/StichHub/package.json
  client/StichHub/src/App.jsx
  client/StichHub/src/axios.js
  client/StichHub/src/components/Loginsignup/AuthTailor.jsx
  client/StichHub/src/components/TailorDashboard/main/NavBar.jsx
  client/StichHub/src/components/TailorProfileVerification/EmailVerification.jsx
  client/StichHub/src/components/TailorProfileVerification/Verify.jsx
  client/StichHub/src/contexts/Home.jsx
  client/StichHub/src/main.jsx
  client/StichHub/src/pages/MainLandingPage.jsx
  client/StichHub/src/pages/TailorDashboard.jsx
  client/StichHub/src/pages/TailorProfileVerification.jsx
  package-lock.json
  server/controllers/tailorDetails.js
  server/controllers/userTailor.js
  server/middlewares/authTailor.js
  server/middlewares/generateToken.js
  server/middlewares/sendEmail.js
  server/models/tailorDetails.js
  server/models/userTailor.js
  server/package-lock.json
  server/package.json
  server/routes/tailorsDetails.js
  server/routes/userTailor.js
Labels: gssoc23, level3, backend, 🎉STATUS : approved, large

#419 Major feature text update
  client/StichHub/src/components/MainLandingPage/Home.jsx
Labels: gssoc23, UI/UX, level1, 🔄STATUS : changes requested, small

#441 Cart form validation
  client/StichHub/src/common/validation.js
  client/StichHub/src/components/AuthError.jsx
  client/StichHub/src/pages/Cart.jsx
Labels: large

#481 Overflow issue were resolved in Registration page
  client/StichHub/src/components/Loginsignup/AuthTailor.jsx
  client/StichHub/src/components/Loginsignup/CustomerAuth.jsx
Labels: large

#458 Custom Price-range Input
  client/StichHub/src/components/Home/FilterSection.jsx
  client/StichHub/src/components/Home/TailorList.jsx
  client/StichHub/src/pages/Home.jsx
Labels: large

#514 Added Functionality to send email with Contact Form Details
  .env.server
  client/StichHub/src/components/MainLandingPage/ContactUs.jsx
  server/middlewares/sendEmail.js
  server/routes/test.js
Labels: gssoc23, level2, Priority : medium

#522 Social media links now open in new tab.
  .env.client
  client/StichHub/src/components/MainLandingPage/Footer.jsx
  client/StichHub/src/components/MainLandingPage/FooterHomePage.jsx
  package-lock.json
Labels: gssoc23, level2

#520 Home page ui improvement
  client/StichHub/src/components/Home/TailorList.jsx
  client/StichHub/src/components/MainLandingPage/Footer.jsx
Labels: gssoc23, UI/UX, level2, 🎉STATUS : approved

#525 Jwt response handling
  client/StichHub/src/components/Cart/Step1.jsx
  client/StichHub/src/components/Home/CustomerOrder.jsx
  client/StichHub/src/components/Home/OrderConfirmation.jsx
  client/StichHub/src/components/TailorDashboard/Profile.jsx
  client/StichHub/src/components/TailorDashboard/main/MainDisplay.jsx
  client/StichHub/src/components/TailorDashboard/mobile/Main/NewOrders.jsx
  client/StichHub/src/components/TailorDashboard/mobile/Ongoing/MobileOngoingOrders.jsx
  client/StichHub/src/pages/Cart.jsx
  client/StichHub/src/pages/TailorProfileVerification.jsx
  server/middlewares/authCustomer.js
  server/middlewares/authTailor.js
Labels: gssoc23, level2
